production:
  adapter:
  database:
  username:
  host:
  password:
  pool:
  timeout:

development:
  adapter:
  database:
  username:
  host:
  password:
  pool:
  timeout:

test:
  adapter:
  database:
  username:
  host:
  password:
  pool:
  timeout:
